html
  head
    //- title= title
    //- Facebook Open Graph Meta Data
    //- meta(property="og:url" content="")
    //- meta(property="og:type" content="")
    meta(property="og:title" content=`${title}`)
    meta(property="og:description" content=`${desc}`)
    meta(property="og:image" content=`${image}`)
    meta(property="fb:app_id" content='1687810071473822')
    meta(property="og:url" content=`https://privateapi.arasaac.org/api/pages/materials/${language}/${idMaterial}`)
    meta(property="og:type" content='article')
    meta(http-equiv="refresh" content=`0; url=https://beta.arasaac.org/materials/${language}/${idMaterial}`)
  body
    //- h1= message